<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <code>404 - Not found</code>
    <h1>Oops! The resource doesn't exist.</h1>

    <a href="/">Go back home</a>

</body>

</html>
