<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

    <h1>About </h1>
    <p>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus architecto atque ex adipisci sit ad
            recusandae aliquid debitis. Dolorem error autem debitis sequi iure distinctio ipsa! Odio rem beatae
            quibusdam!</span>
        <span>Placeat repudiandae, quo, beatae esse eaque maiores eligendi nostrum, soluta maxime culpa voluptas dolores
            ratione reprehenderit illum iure consequatur molestiae alias et vel odit animi magni suscipit non! Iste,
            rerum.</span>
        <span>Cum veritatis enim magnam cupiditate fuga, minima placeat repellat praesentium, quia quidem quae magni,
            assumenda neque distinctio nesciunt quaerat quas soluta earum inventore eos nam atque! Id nam modi
            magni?</span>
        <span>Autem, mollitia, necessitatibus quidem atque inventore ad molestias nesciunt doloribus facilis quibusdam
            labore sequi? Cupiditate qui dignissimos quo nobis, quia at enim dolore soluta aliquid molestias temporibus
            modi
            corrupti praesentium?</span>
        <span>Unde delectus numquam suscipit pariatur quas porro ullam perspiciatis, dicta alias aliquid! Architecto
            praesentium, illum blanditiis perferendis laborum nobis ipsum vel? Dolorum ipsam nobis officia, expedita
            fugit
            repellendus blanditiis exercitationem!</span>
        <span>Sed, voluptatum ex! Reiciendis repellendus iure omnis dolores illum obcaecati, aliquid explicabo mollitia!
            Iste sequi placeat rerum dignissimos repellat molestias eum ipsa, ex id ducimus numquam tenetur odit minima
            nesciunt.</span>
        <span>Reprehenderit corrupti expedita, veniam et velit laudantium similique vitae ipsa dolorem dolore neque
            veritatis sed doloremque impedit saepe! Est possimus magnam maiores distinctio rerum commodi amet iusto
            praesentium optio sed.</span>
        <span>Assumenda ad, autem quo molestiae fuga pariatur error quisquam ex veniam nisi sapiente omnis libero amet
            accusantium non animi odit culpa voluptatem expedita dignissimos. Hic doloremque ullam veritatis harum
            eos.</span>
        <span>Eius modi temporibus quam nihil ex voluptatem a consequuntur officiis unde cumque harum, earum debitis
            nesciunt iure commodi, quidem ratione odit explicabo. Voluptatibus cum dolorem dicta beatae minima at
            eaque.</span>
        <span>Molestias, accusantium nemo. Quia, aliquid doloremque cupiditate velit consequatur ducimus quis ea.
            Voluptatibus alias quisquam voluptates esse porro fugiat nesciunt libero provident quo. Nam dolores
            dignissimos
            impedit veritatis consequatur incidunt!</span>
    </p>

    <%- include('./partials/footer.ejs') %>

</body>

</html>
